footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #9b9595;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }